// ==========================================================================
// Grid Styles
// ==========================================================================

.grid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // grid-gap: rem(32px);
  grid-template-columns: repeat(auto-fit, minmax(280px,  1fr));
  grid-gap: 1.6rem;
}
