// ==========================================================================
// Image Styles
// ==========================================================================

.card {
  height: 15vh;
  border: 8px solid $color-primary;
  &:hover {
    border-color: $color-tertiary;
  }
}
