// ==========================================================================
// Navigation Styles
// ==========================================================================

footer {
  background-color: $color-primary;
  padding: rem(56px) rem(16px);
  display: flex;
  flex-direction: column;
  @include mq($break-t) {
    flex-direction: row;
    padding: rem(56px) rem(24px);
  }
  @include mq($break-hd) {
    padding: 10% 4%;
  }
}
