// ==========================================================================
// Typographical Styles
// ==========================================================================

// Base styles for HTML5 tags
p, ul, ol, li {
  max-width: 740px;
  @include mq($break-d) {
    max-width: 1052px;
  }
}


h1, h2, h3, h4 {
  letter-spacing: -0.08em;
  font-weight: $font-weight--black;
  text-align: center;
  word-break: break-all;
  @include mq($break-m) {
    text-align: left;
  }
}

h1 {
  font-size: rem(80px);
  @include mq($break-t) {
    font-size: rem(192px);
  }
  @include mq($break-d) {
    font-size: rem(256px);
  }
}

h2 {
  font-size: rem(56px);
  @include mq($break-t) {
    font-size: rem(64px);
  }
  @include mq($break-d) {
    font-size: rem(80px);
  }
}

h3 {
  font-size: rem(40px);
  @include mq($break-t) {
    font-size: rem(44px);
  }
  @include mq($break-d) {
    font-size: rem(48px);
  }
}

h4 {
  font-size: rem(24px);
  @include mq($break-t) {
    font-size: rem(30px);
  }
  @include mq($break-d) {
    font-size: rem(34px);
  }
}

p, ul, ol, a {
  font-weight: $font-weight--regular;
  letter-spacing: -0.02em;
  @include mq($break-t) {
    font-size: rem(24px);
  }
  @include mq($break-d) {
    font-size: rem(30px);
    letter-spacing: -0.03em;
  }
  @include mq($break-hd) {
    font-size: rem(32px);
  }
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  @include mq($break-t) {
    display: flex;
    justify-content: flex-end;
  }
}

// General Type Styles
.black {
  font-weight: $font-weight--black;
}

.bold {
  font-weight: $font-weight--bold;
}


// The following creates a line break at a specific point within a word. The "Yell at Me" HTML in the footer
.line-break {
  display: none;
  @include mq($break-t) {
    display: table;
  }
}

// Hero styles
.hero {
  margin: 0;
  text-align: left;
  line-height: 1;
  height: 75vh;
  word-break: normal;
}

// Anchor stylesheet
a {
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $color-accent;
  }
}

.footer {
  @include e(title) {
    @extend %footer;
    font-size: rem(60px);
    text-align: center;
    margin: 0;
    @include mq($break-t) {
      text-align: right;
      font-size: rem(130px);
    }
    @include mq($break-d) {
      font-size: rem(178px);
    }
  }
  @include e(linkContainer) {
    @include mq($break-t) {
      flex-grow: 2;
    }
  }
  @include e(link) {
    @extend %footer;
    font-size: rem(20px);
    display: block;
    margin: rem(32px) 0;
    color: $white;
    &:hover {
      text-decoration: none;
    }
    @include mq($break-t) {
      text-align: left;
    }
  }
}

.skip {
  @include m(prev) {
    @extend %skipLink;
    text-align: left;
  }
  @include m(next) {
    @extend %skipLink;
    text-align: right;
  }
}


// Portfolio Image Type styles
.portfolio__title {
  @include m(exp) {
    @extend %portfolio_title;
    bottom: 58%;
    @include mq($break-d) {
      bottom: 67%;
    }
  }
  @include m(pep) {
    @extend %portfolio_title;
    bottom: 141%;
    @include mq($break-d) {
      bottom: 148%
    }
  }
  @include m(hue) {
    @extend %portfolio_title;
    bottom: 113%;
    @include mq($break-d) {
      bottom: 119%;
    }
  }
  @include m(tsp) {
    @extend %portfolio_title;
    bottom: 137%;
    @include mq($break-d) {
      bottom: 144%;
    }
  }
  @include m(rfo) {
    @extend %portfolio_title;
    bottom: 33%;
  }
  @include m(ipg) {
    @extend %portfolio_title;
    bottom: 33%;
  }
  @include m(wsg) {
    @extend %portfolio_title;
    bottom: 33%;
  }
  @include m(gsa) {
    @extend %portfolio_title;
    bottom: 33%;
  }
  @include m(wad) {
    @extend %portfolio_title;
    bottom: 33%;
  }
}

// Resume type styles
.company {
  margin-top: 0;
  margin-bottom: rem(4px);
}

.title {
  margin-top: 0;
  margin-bottom: 0
}

.period {
  margin-top: 0;
  margin-bottom: rem(16px)
}


// Hue Pro card and logotype stylesheet
.huepro-card {
  position: relative;
  width: 100%;
  min-height: 228px;
  max-height: 328px;
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#2A2A2A));
  background: linear-gradient(180deg, #454545 0%, #2A2A2A 100%);
  margin-bottom: 1em;
}

.huepro-title {
    position: absolute;
    top: 8.5%;
    width: 100%;
    font-size: 4em;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    background-color: #6a0844;
    color: transparent;
    text-shadow: 0px 2px 1px rgba(255, 146, 213, 0.76);
    -webkit-background-clip: text;
    background-clip: text;
}
